/********************************/

@media screen and (max-width: 1300px) {
  .col-left {
    flex: 1 1 10%;
    width: 10%;
  }
  .col-middle {
    margin-left: 10%;
    width: 64rem;
  }
  .col-right {
    flex: 1 1 26%;
    width: 26%;
  }
  .tablet-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 1115px) {
  .col-left {
    flex: 1 1 8%;
    width: 8%;
  }
  .col-middle {
    margin-left: 13%;
    width: 7rem;
  }
  .col-right {
    flex: 1 1 26%;
    width: 26%;
  }
}

@media screen and (max-width: 995px) {
  .col-right {
    display: none;
  }
  .col-left {
    flex: 1 1 15%;
    width: 15%;
  }
  .col-middle {
    margin-left: 15%;
    width: 75rem;

    &__top span {
      display: none;

      label {
        display: block;
      }
    }
  }

  .pc-hidden {
    display: block !important;
  }

  .tablet-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 550px) {
  .logo {
    font-size: 3rem;
    border-radius: 50%;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .col-left {
    align-items: center;
    padding-right: 1.5rem;
    padding-top: 2rem;
    display: none !important;
  }
  .col-middle {
    width: 100%;
    margin: 0 !important;
    &__top {
      padding: 0 1rem;
      width: 100%;
      padding: 0 1rem;
      justify-content: space-around;

      label {
        display: block;
      }
    }
    
  }
  .mobile-hidden {
    display: none !important;
  }

  .pc-hidden {
    display: block !important;;
  }
}
