// color

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;

$primary-color: #15202b;
$secondary-color: #1da1f2;
$secondary-color-hover: #1a91da;
$tertiary-color: #253341;
$text-color: #8899a6;
$white-color: #fff;
$hover-color: #162d40;
$container-hover: #1c2732;

$favorite-color: #e0245e;
$favorite-hover-color: #302737;

$retweet-color: #17bf63;
$retweet-hover-color: #1b3637;

$search-input-color: #253341;
$btn-hover: #20394d;