@import "./variables";
@import "./reset";
@import "./mixin";
@import "./grid";
@import "./responsive";
@import "./sidebarLeft";
@import "./sidebarRight";
@import "./mainRight";
@import "./function";
@import "./animation";

.container {
  a,
  a:link,
  a:visited {
    text-decoration: none;
    color: #fff;
  }
}
