- 
    var arrListSidebar =[
        { 
            classIcon:"bx bxs-home-circle",
            text:"Home",
            className:"active",
            active:true,
            classSpan:"menu-text",
            numberClass:"",
            number:"",
        }
        
        ,{ 
            classIcon:"fas fa-hashtag",
            text:"Explore",
            classSpan:"menu-text",
            numberClass:"",
            number:"",
        },

        { 
            classIcon:"far fa-bell",
            text:"Notifications",
            notif:true,
            className:"notification",
            numberClass:"number",
            number:"10",
            classSpan:"menu-text",
        }
        
        ,{
            classIcon:"far fa-envelope",
            text:"Messages",
            classSpan:"menu-text",
            numberClass:"",
            number:"",
        },

        { 
            classIcon:"bx bx-bookmark",
            text:"Bookmark",
            classSpan:"menu-text",
            numberClass:"",
            number:"",
        }
        
        ,{ 
            classIcon:"bx bx-list-ul",
            text:"Lists",
            classSpan:"menu-text",
            numberClass:"",
            number:"",
        },

        { 
            classIcon:"far fa-user",
            text:"Profile",
            classSpan:"menu-text",
            numberClass:"",
            number:"",
        }
        
        ,{ 
            classIcon:"bx bx-dots-horizontal-rounded",
            text:"More",
            classSpan:"menu-text",
            numberClass:"",
            number:"",
        },
    ]


-   
    var arrListPost = [
        {
            icon:"post_5.jpeg",
            offical:true,
            accountName:"freeCodeCamp.org",
            postBy:"freeCodeCamp.org",
            timePost:"30m",
            desc:"Most Android apps need to store data somewhere and the most common way to store data on Android is using a SQLite Database. We...",
            img:"post_5.jpeg",
            checkedUser:"bx bxs-badge-check",
            title:"How to Use a SQlite Database with Android Studio",
            para:"| Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...",
            numberComment:"2",
            numberTwitter:"213",
            numberHeart:"1",
            alt:'Profile',
            linkPost:"freeCodeCamp.org",
        },

        {
            icon:"post_7.jpeg",
            offical:true,
            accountName:"freeCodeCamp.org",
            postBy:"freeCodeCamp.org",
            timePost:"30m",
            desc:"Most Android apps need to store data somewhere and the most common way to store data on Android is using a SQLite Database. We...",
            img:"post_7.jpeg",
            checkedUser:"bx bxs-badge-check",
            title:"How to Use a SQlite Database with Android Studio",
            para:"| Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...",
            numberComment:"2",
            numberTwitter:"213",
            numberHeart:"1",
            alt:'Profile',
            linkPost:"freeCodeCamp.org",
        },

        {
            icon:"freeCodeCamp.org.jpg",
            offical:true,
            accountName:"freeCodeCamp.org",
            postBy:"freeCodeCamp.org",
            timePost:"30m",
            desc:"Most Android apps need to store data somewhere and the most common way to store data on Android is using a SQLite Database. We...",
            img:"florinpop.jpg",
            checkedUser:"bx bxs-badge-check",
            title:"How to Use a SQlite Database with Android Studio",
            para:"| Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...",
            numberComment:"2",
            numberTwitter:"213",
            numberHeart:"1",
            alt:'Profile',
            linkPost:"freeCodeCamp.org",
        },

        {
            icon:"freeCodeCamp.org.jpg",
            offical:true,
            accountName:"freeCodeCamp.org",
            postBy:"freeCodeCamp.org",
            timePost:"30m",
            desc:"Most Android apps need to store data somewhere and the most common way to store data on Android is using a SQLite Database. We...",
            img:"post_6.jpeg",
            checkedUser:"bx bxs-badge-check",
            title:"How to Use a SQlite Database with Android Studio",
            para:"| Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...",
            numberComment:"2",
            numberTwitter:"213",
            numberHeart:"1",
            alt:'Profile',
            linkPost:"freeCodeCamp.org",
        },

        {
            icon:"freeCodeCamp.org.jpg",
            offical:false,
            accountName:"freeCodeCamp.org",
            postBy:"freeCodeCamp.org",
            timePost:"30m",
            desc:"Most Android apps need to store data somewhere and the most common way to store data on Android is using a SQLite Database. We...",
            img:"huawei.jpg",
            checkedUser:"bx bxs-badge-check",
            title:"How to Use a SQlite Database with Android Studio",
            para:"| Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...",
            numberComment:"2",
            numberTwitter:"213",
            numberHeart:"1",
            alt:'Profile',
            linkPost:"freeCodeCamp.org",
        },

        {
            icon:"freeCodeCamp.org.jpg",
            offical:true,
            accountName:"freeCodeCamp.org",
            postBy:"freeCodeCamp.org",
            timePost:"30m",
            desc:"Most Android apps need to store data somewhere and the most common way to store data on Android is using a SQLite Database. We...",
            img:"post_8.png",
            checkedUser:"bx bxs-badge-check",
            title:"How to Use a SQlite Database with Android Studio",
            para:"| Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...",
            numberComment:"2",
            numberTwitter:"213",
            numberHeart:"1",
            alt:'Profile',
            linkPost:"freeCodeCamp.org",
        },

        {
            icon:"freeCodeCamp.org.jpg",
            offical:"false",
            accountName:"freeCodeCamp.org",
            postBy:"freeCodeCamp.org",
            timePost:"30m",
            desc:"Most Android apps need to store data somewhere and the most common way to store data on Android is using a SQLite Database. We...",
            img:"freeCodeCamp.org.jpg",
            checkedUser:"bx bxs-badge-check",
            title:"How to Use a SQlite Database with Android Studio",
            para:"| Most Android apps need to store data somewhere and the most| .common way to store data on Android is using a SQLite Database. We...common way to store data on Android is using a SQLite Database. We...common way to store data on Android is using a SQLite Database. We...common way to store data on Android is using a SQLite Database. We...common way to store data on Android is using a SQLite Database. We...",
            numberComment:"2",
            numberTwitter:"213",
            numberHeart:"1",
            alt:'Profile',
            linkPost:"freeCodeCamp.org",
        },

        {
            icon:"freeCodeCamp.org.jpg",
            offical:"false",
            accountName:"freeCodeCamp.org",
            postBy:"freeCodeCamp.org",
            timePost:"30m",
            desc:"Most Android apps need to store data somewhere and the most common way to store data on Android is using a SQLite Database. We...",
            img:"post_9.jpeg",
            checkedUser:"bx bxs-badge-check",
            title:"How to Use a SQlite Database with Android Studio",
            para:"| Most Android apps need to store data somewhere and the most| common way to store data on Android is using a SQLite Database. We...",
            numberComment:"2",
            numberTwitter:"213",
            numberHeart:"1",
            alt:'Profile',
            linkPost:"freeCodeCamp.org",
        },
    ]

-
    var arrListTrend= [
        {
            country:"Trending in Angola",
            hashtag:"#LakeShow🏀",
            follower:"10000",
            toggle:"fas fa-angle-down",
        },

         {
            country:"Trending in Angola",
            hashtag:"#NBAFinals",
            follower:"1200",
            toggle:"fas fa-angle-down",
        }
    ]

    var arrListFollow= [
        {
            icon:"huawei.jpg",
            userName:"Huawei Europe",
            followAccount:"@Huawei_Europe",
            text:"Follow",
            offical:true,
        },

         {
            icon:"loiane.jpg",
            userName:"Huawei Europe",
            followAccount:"@Huawei_Europe",
            text:"Follow",
            offical:false,
        }
    ]

    var arrListNavMobile= [
        {
            text:"Home",
            icon:"bx bxs-home-smile",
        },

         {
            text:"Profile",
            icon:"bx bxs-user-circle",
        },

         {
            text:"Message",
            icon:"bx bx-mail-send",
        },

         {
            icon:"bx bx-list-ol",
            text:"List",
        },

         {
            icon:"bx bx-list-ol",
            text:"Bookmark",
        },

          {
            icon:"bx bx-list-ol",
            text:"Bookmark",
        },

         {
            icon:"bx bx-list-ol",
            text:"Bookmark",
        },
    ]